/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Main CSS */
p {
	font-size: 18px;
}
a {
	text-decoration: none;
}
.container {
	font-family: 'Poppins', sans-serif;
	background-color: #fff8e1;
    color: #333;
	box-sizing: border-box;
	height: 100%;
}
/* Header */
.header {
	position: fixed;
	z-index: 5;
	background-color: #ffc400;
	width: 100%;
	margin: auto;
	display: flex;	
	box-sizing: border-box;
	justify-content: space-between;
}
.header h1{
	color: #d32f2f;
   font-size: 28px;
	padding: 30px 70px;
	font-weight: 1000;
}
.header ul{
	box-sizing: border-box;
	display: flex;
	padding: 0px 12px;
}
.header ul li {
	transition: 0.3s;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0px 12px;
}
.header ul li p {
	color:#333;
	font-size: 16px;
	font-weight: bold;
}
.header ul li:hover{
	background-color: #f7d653;
	transition: 0.3s;
}
.header ul li:active{
	background-color: #ffe16b;
	transition: 0.3s;
}

/* main */

.uppermain {
	margin: auto;
	box-sizing: border-box;
	background-color: #fff3cd;
}
.uppercontainer {
	padding: 180px 30px 180px 30px;
	max-width: 70%;
	display: flex;
	margin: auto;
	box-sizing: border-box;
	justify-content: space-between;
}
.uppercontainer h1 {
	padding-bottom: 30px;
	color: #d32f2f;
    font-size: 46px;
	font-weight: bolder;
}
.main1left{
	display: inline-block;
	margin: auto;
	padding: 60px 30px;
	text-align: center;
	box-sizing: border-box;
}
.main1left a {
	color: white;
	font-weight: bold;
}
.main1right{
	display: inline-block;
	width: 790px;
   height: auto;
	padding: 0px 20px;
	box-sizing: border-box;
	overflow: hidden;
}
.main1right .slider {
    display: flex;
    width: 300%;
    height: 100%;
    animation: slide 12s infinite;
}
.main1right img{
	border-radius: 15px;
	width: 100%;
	height: 100%;
	padding: 0px 0px;
	object-fit: cover;
}

/* Sliding animation */

@keyframes slide {
    0% {margin-left: 0;}
    33%{margin-left: -103%;}
    66%{margin-left: -200%;}
    100%{margin-left: 0;}
}

/* Menu tengah */

.menufavorit {
	background-color: #fff8e1;
	margin: auto;
	height: auto;
	width: 70%;
	padding: 80px 0px 140px 0px;
}
.menufavorit h1 {
	padding-bottom: 60px;
	color: black	;
   	font-size: 40px;
	font-weight: bolder;
	text-align: center;
}
.menulist {
   display: flex;
   justify-content: space-between;
}
.menulist a {
    color: black;
}
.menuitem {
   background: #fff;
   border-radius: 12px;
   padding: 15px;
   box-shadow: 0 3px 10px rgba(0,0,0,0.15);
   transition: 0.2s;
   width: auto;
   text-align: center;
}
.menuitem:hover{
	transform: translateY(-5px);
}
.menuitem .namaitem{
	font-weight: bold;
	font-size: 20px;
}
.menuitem img {
    width: auto;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px 0px;
}
.footer {
	background-color: #ffcc00;
	display: flex;
	margin: auto;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
}
.footer h1 {
	color: #333;
	margin: auto;
	text-align: center;
	align-content: center;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

/* Interactive Stuff */
/* 1. Button */

#button {
	margin-top: 20px;
	background-color: #d32f2f;
	padding: 16px;
	border-radius: 50px;
	box-sizing: border-box;
	transition: 0.1s;
}
#button p {
	color: white;
	font-weight: bold;
}
#button:hover {
	transition: 0.1s;
	opacity:0.85;
}
#button:active{
	transform: scale(1.01);
	transition: 0.1s;
	background-color: #e84a4a;
}
/* Responsive CSS */

@media screen and (max-width: 1170px){

	.uppercontainer {
	padding: 180px 30px 140px 30px;
	max-width: 90%;
	display: flex;
	margin: auto;
	box-sizing: border-box;
	justify-content: space-between;
	}
	.menufavorit {
	background-color: #fff8e1;
	margin: auto;
	height: auto;
	width: 100%;
	padding: 80px 0px;
	}
	.menulist {
    display: flex;
   	padding: 20px;
   	justify-content: space-between;
	margin: 20px 0px;
	}
	.menuitem{
		margin: 40px 20px 0px 20px;
	}
}
@media screen and (max-width: 960px){
	.menulist {
	display: flex;
	flex-wrap: wrap;
	width: fit-content;
	justify-content: center;
	margin: 20px 0px;
	}
}
@media screen and (max-width: 800px){

	.header h1{
	color: #d32f2f;
   font-size: 28px;
	padding: 30px 30px;
	font-weight: 1000;
	}

	.uppercontainer {
	padding: 120px 30px 120px 30px;
	max-width: 100%;
	display: flex;
	margin: auto;
	box-sizing: border-box;
	justify-content: space-between;
	flex-wrap: wrap;
	}

	.menufavorit {
	background-color: #fff8e1;
	margin: auto;
	height: auto;
	padding: 40px 0px;	
	}

	.menufavorit h1 {
	padding-bottom: 0px;
	color: black	;
   font-size: 40px;
	font-weight: bolder;
	text-align: center;
	}	
}
@media screen and (max-width: 415px){
	.header ul{
	box-sizing: border-box;
	display: flex;
	padding: 0px 0px;
	}
	.header h1{
	color: #d32f2f;
   font-size: 28px;
	padding: 30px 10px;
	font-weight: 1000;
	}
}