  body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background: #fff9e6;
        color: #333;
    }

    header {
        position: fixed;
        top: 0;
        width: 93%;
        background: #ffc400;
        padding: 5px 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s;
        z-index: 5;
    }

    header h1 {
        color: #d32f2f;
        font-size: 28px; 
    }    

    nav {
        margin-right:40px ;
    }
    nav a {
        margin-left: 20px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    #menu {
        padding-top: 120px;
        width: 85%;
        margin: auto;
        text-align: center;
    }

    #menu h3 {
        font-size: 28px;
        margin-bottom: 25px;
        color: #d32f2f
    }

    .menu-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 30px;
    }

    .menu-item {
        background: #fff;
        border-radius: 12px;
        padding: 15px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.15);
        transition: 0.2s;
    }

    .menu-item:hover {
        transform: translateY(-5px);
    }

    .menu-item img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .menu-item h4 {
        margin: 10px 0 5px;
        font-size: 20px;
    }

    .menu-item p {
        margin: 5px 0 10px;
        font-size: 17px;
        color: #444;
    }

    .btn-pesan {
        width: 100%;
        padding: 15px;
        background: #d62828;
        color: white;
        border: none;
        font-size: 16px;
        border-radius: 50px;
        cursor: pointer;
        font-weight: bold;
    }

    .btn-pesan:hover {
        opacity: 0.85;
    }

    footer {
        background-color: #ffcc00;
        text-align: center;
        padding: 15px;
        font-weight: bold;
        color: #333;
    }
