body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background: #fff9e6;
        color: #333;
    }

    body {
      background: #f5f5f5;
    }

    .order-wrap {
      width: 90%;
      max-width: 750px;
      margin: 40px auto;
      background: white;
      padding: 25px;
      border-radius: 12px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

    .order-card h2 {
      margin-bottom: 15px;
      text-align: center;
    }

    .order-input {
      margin-bottom: 15px;
    }

    .order-label {
      display: block;
      margin-top: 10px;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .order-select,
    .order-input input {
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #888;
      font-size: 15px;
      margin-bottom: 10px;
      margin-left: -5px;
    }

    .btn-action {
      padding: 12px;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.2s;
      border: none;
      width: 100%;
      margin-top: 10px;
    }

    .primary {
      background: #1a73e8;
      color: white;
    }

    .primary:hover {
      background: #0c5bcc;
    }

    .secondary {
      background: #ccc;
    }

    .secondary:hover {
      background: #b3b3b3;
    }
header {
        position: fixed;
        top: 0;
        width: 93%;
        background: #ffc400;
        padding: 5px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s;
        z-index: 5;
    }

    header h1 {
        color: #d32f2f;
        font-size: 28px; 
    }    

    nav a {
        margin-left: 20px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

